{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function mypage() {
            window.open("http://localhost:5000/mypage", "popupWindow", "width=500, height=500, scrollbars=yes");
        }
    </script>
    <title>사과 직판매 사이트, 사직사</title>
</head>
<body>
    <h1>사과 직판매</h1>
    <!--
    <p>로그인 화면</p>
    -->
    {%if userid%}<p>로그인 아이디 :
    {{userid}} <button type="button" onclick="location.href='/logout' ">로그아웃</button>
        <button onclick="mypage()">마이페이지</button>
    {%endif%}</p>
    <!--
    <input type='text' placeholder="이름"></button>
    <input type='button' value='버튼'></button>
    -->
    {%if not userid%}
    <button onclick="location.href='/login'">로그인 화면으로</button >
    <button onclick="location.href='/register'">회원가입</button >
    {%endif%}

    <h3>농산물 목록</h3>
    <img src={{ url_for('static', filename='images/아오리.png') }}>
    <p>아오리 1kg 당 5,000원 <button onclick="location.href='/buy?kind=aori&user={{ userid }}'">구매</button></p>
    <img src={{ url_for('static', filename='images/홍로.png') }}>
    <p>홍로 1kg 당 5,200원 <button onclick="location.href='/buy?kind=hongro&user={{ userid }}'">구매</button></p>
    <img src={{ url_for('static', filename='images/부사.png') }}>
    <p>부사 1kg 당 5,500원 <button onclick="location.href='/buy?kind=busa&user={{ userid }}'">구매</button></p>
<!--    <button onclick="location.href='/listofproduct'">사과</button >-->
</body>
</html>