{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사과 직판매</h1>
    <!--
    <p>로그인 화면</p>
    -->
    {%if userid%}<p>로그인 아이디 :
    {{userid}} <button type="button" onclick="location.href='/logout' ">로그 아웃</button>
    {%endif%}</p>
    <!--
    <input type='text' placeholder="이름"></button>
    <input type='button' value='버튼'></button>
    -->
    {%if not userid%}
    <button onclick="location.href='/login'">로그인 화면으로</button >
    <button onclick="location.href='/register'">회원가입</button >
    {%endif%}

    <p>농산물 목록</p>
    <button onclick="location.href='/listofproduct'">사과</button >
</body>
</html>